# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.entry': [
    {
      label: 'Customize File/Folder'
      submenu: [
        {
          label: 'Change Icon',
          submenu: [
            {label: 'Color/Gradient', command: 'custom-files:iconcolor'}
            # {label: 'Shape', command: 'custom-files:iconshape'}
            # {label: 'Image', command: 'custom-files:iconimage'}
          ]
        }
        {
          label: 'Change Background',
          submenu: [
            {label: 'Color/Gradient', command: 'custom-files:backgroundcolor'}
            # {label: 'Image', command: 'custom-files:backgroundimage'}
          ]
        }
        {
          label: 'Change Text',
          submenu: [
            {label:  'Color/Gradient', command: 'custom-files:textcolor'}
            # {label: 'Image', command: 'custom-files:textimage'}
          ]
        }
        {
          label: 'Manage Highlight',
          submenu: [
            {label: 'Color/Gradient', command: 'custom-files:highlightcolor'}
            # {label: 'Image', command: 'custom-files:highlightimage'}
            {label: 'Remove', command: 'custom-files:removehiglight'}
          ]
        }
        {label: 'Manage Alias', command: 'custom-files:alias'}
      ]
    }
  ]
